.span8.offset2
  .well
    %h1 Stocks
    %hr

    .huge-icon
      %i.icon-inbox
    %p.notice-text
      You haven't added any stocks yet.

    %hr
    %p To add a stock, run the following command. 
    %pre $ rake "stocks:add[Name, InitialPrice]"
