:javascript
  var prices = {}

.span8.offset2
  .well
    %h1.pull-left Stocks

    %p.btn-group.pull-right(style="padding-top: 18px")
      %a#updateButton.btn.btn-primary
        %span.updateIcon
          %i.icon-spin.icon-spinner
        %span.updateText Update
      %a.btn.disabled
        (Last updated at <span class="lastUpdated"><i class="icon-spin icon-spinner"></i></span>)

    %hr(style="clear: both")

    %ul.nav.nav-tabs.nav-stacked
      - @stocks.each do |stock|
        %li#stockTab{:class=>"reveal#{stock.name}"}
          %a
            = stock.name
            %div(style="float: right") 
              (₹ <span id="price#{stock.name}"><i class="icon-spin icon-spinner"></i></span>)

    %hr

    - @stocks.each do |stock|
      :javascript
        $(".reveal#{stock.name}").click(function() { 
          $("li").removeClass("active");
          $(".reveal#{stock.name}").addClass("active");
          $("svg").parent().slideUp();
          $("svg##{stock.name}").parent().slideDown();
        });

      %div
        %h5= stock.name
        %svg{:id => "#{stock.identifier}"}

:javascript
  $("svg").parent().hide();
  function renderGraph(stock, prices) {
    d3.select("svg#" + stock).selectAll("g").remove();

    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        height = 200 - margin.top - margin.bottom, 
        width = 600 - margin.left - margin.right;

    var svg = d3.select("svg#" + stock)
                  .attr("height", height + margin.top + margin.bottom)
                  .attr("width", width + margin.left + margin.right)
                .append("g")
                  .attr("transform", 
                        "translate(" + margin.left + "," + margin.top + ")");
    var x = d3.scale.linear().range([0, width])
                             .domain([1, prices.length]);
    var y = d3.scale.linear().range([height, 0])
                             .domain([d3.min(prices)-5, 
                                      d3.max(prices)+5]);
    var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(0);
    var yAxis = d3.svg.axis().scale(y).orient("left").ticks(4);
    svg.append("g").attr("class", "x axis")
                   .attr("transform", "translate(0,"+height+")")
                 .call(xAxis);
    svg.append("g").attr("class", "y axis")
                 .call(yAxis);
    var line = d3.svg.line().x(function(d, i) { return x(i+1); })
                            .y(function(d) { return y(d); });
    svg.append("path").datum(prices).attr("class", "line").attr("d", line);
  }

  function updateAndRender(stock, callback) {
    $.ajaxSetup( {"async": false} );
    $.getJSON("/stocks/" + stock + ".json", function (p) {
      prices[stock] = p;
      renderGraph(stock, prices[stock])
      var lastPrice = prices[stock][ prices[stock].length-1 ]; 
      $("#price" + stock).html( d3.format(".2f")(lastPrice) );
      callback();
    });
  }

  function updateAll() {
    $(".updateIcon").html("<i class='icon-spin icon-refresh'></i>");
    $("#updateButton").addClass("disabled");
    $(".updateText").html("Updating");
    var stocks = #{@stocks.map {|x| x.name }.to_json};
    for (i in stocks) {
      if (i == stocks.length-1) {
        updateAndRender(stocks[i], function () {
          $(".lastUpdated").html( moment().format("h:mm:ss a") );
          $(".updateIcon").html("<i class='icon-refresh'></i>");
          $("#updateButton").removeClass("disabled");
          $(".updateText").html("Update");
        });
      } else {
        updateAndRender(stocks[i], function () {});
      }
    } 
  } 

  updateAll();
  $(".reveal#{@stocks.first.name}").click();
  setInterval("updateAll()", 10000);
  $("#updateButton").click(function() { updateAll(); });
