.span5.offset2
  .well
    %h1.pull-left Dashboard
    %p.pull-right(style="padding-top: 28px; font-size: 1.2em; color: #999") 
      Current Rank: 
      %strong ##{@rank}
    %hr(style="clear: both")

    %table.table(style="width: 100%")
      %tr{:class=>cycle('odd', 'even')}
        %td Cash on hand
        %td(style="text-align: right") ₹ #{@cash_on_hand}
      %tr{:class=>cycle('odd', 'even')}
        %td Portfolio Value
        %td(style="text-align: right") ₹ #{@portfolio}

    %h4 Stocks Owned
    - if @stocks_owned
      TODO: Stock list here.
    - else
      .huge-icon(style="font-size: 6em")
        %i.icon-asterisk
      %p.notice-text(style="font-size: 1.2em; padding-top: 20px")
        You haven't bought any stocks yet.

.span3
  .well
    %h4 Leaderboard <small>(#{Time.now.strftime("%l:%M:%S %P").strip})</small>

    %table(style="width: 100%")
      - @leaderboard.each do |lb|
        %tr{:class=> cycle('odd', 'odd', 'even', 'even')}
          %td
            %small(style="color: #888;") #{lb.rank}.
          %td
            %span.avatar(style="color: #999")
              %img{:src=>"https://graph.facebook.com/#{lb.user.uid}/picture", :width=>15, :height=>15, :alt=>""}
          %td= lb.user.name
        %tr{:class=> cycle('odd', 'odd', 'even', 'even')}
          %td(colspan=3 style="text-align: right")
            %small(style="color: #888")
              ₹ #{lb.user.portfolio_value}

:javascript
  $("img").error(function () {
    $(this).unbind("error").parent().html("<i class='icon-user'></i>");
  });
