.span6.offset3
  .well
    %h1 Leaderboard
    %hr

    - if @leaderboard.length == 0
      .huge-icon
        %i.icon-user
      %p.notice-text
        No users have signed up so far.

    - if @leaderboard.length > 0
      %table.table(style="width: 100%")
        %thead
          %tr
            %th
            %th(style="text-align: center" colspan=2) Name
            %th(style="text-align: center") Portfolio Value
        - @leaderboard.each do |lb|
          %tr{:class=> cycle('odd', 'even')}
            %td
              %small(style="color: #888;") #{lb.rank}.
            %td
              %span.avatar(style="color: #999")
                %img{:src=>"https://graph.facebook.com/#{lb.user.uid}/picture", :width=>28, :height=>28, :alt=>""}
            %td= lb.user.name
            %td(style="text-align: center") ₹ #{lb.user.portfolio_value}

:javascript
  $("img").error(function () {
    $(this).unbind("error").parent().html("<i class='icon-user'></i>");
  });
    
