/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url("/assets/groovepaper.png") !important;
}

@media (min-width: 979px) { 
  body {
    padding-top: 70px !important;
  }
}

footer p {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.huge-icon {
  text-align: center;
  font-size: 16em;
  color: #999;
  text-shadow: 0 0 30px #bbb;
}

.notice-text {
  color: #999;
  font-size: 1.8em;
  text-align: center;
  padding-top: 30px;
}

.well {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05) inset,
              0 0 18px rgba(0, 0, 0, 0.2)
              !important;
  border: 1px solid #ccc !important;
}

tr.odd {
  background-color: #eee;
}

tr.even td, tr.odd td {
  padding-left: 5px;
  padding-right: 5px;
}
