!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Marketnauts"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")

    /
      Javascripts
      \==================================================
    = javascript_include_tag "application"


  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          %a.brand(href="/") 
            %i.icon-globe
            Marketnauts
          .container
            %ul.nav
              - if logged_in?
                %li= link_to "Dashboard", "/"
                %li= link_to "Stocks", "/stocks"
              %li= link_to "Leaderboard", "/leaderboard"
            - if logged_in?
              .pull-right
                %p
                  %a.btn.btn-inverse(href="/logout") Sign out

    .container-fluid

      .row-fluid
        = bootstrap_flash
        .row-fluid
          = yield
    
      %footer
        %p 
          Developed by 
          %strong
            %a(href="http://vikhyat.net/") Vikhyat Korrapati
    /
      Javascripts
      \==================================================
    = javascript_include_tag "application"
